services:
  php:
    image: php:${PHP_VERSION:-8.2}-fpm
    container_name: ${CONTAINER_NAME:-php_example_com}
    restart: unless-stopped
    working_dir: /var/www/${DOMAIN:-example.com}
    volumes:
      - ./www:/var/www/${DOMAIN:-example.com}/www:rw
      - ./logs:/var/www/${DOMAIN:-example.com}/logs:rw
      - ../../config/php-fpm/${DOMAIN:-example.com}/php.ini:/usr/local/etc/php/php.ini:ro
      - ../../config/php-fpm/${DOMAIN:-example.com}/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
    networks:
      - web

networks:
  web:
    external: true
